{{ define "dualRangeInput" }}
    <div class="filter-item">
        <div class="slider">
            <div class="progress"></div>
        </div>
        <div class="range-input">
            <input type="range" class="range-min" name="min-creation" min="{{.MinCreationDate}}" max="{{.MaxCreationDate}}" value="{{.MinValue}}" step="1">
            <input type="range" class="range-max" name="max-creation" min="{{.MinCreationDate}}" max="{{.MaxCreationDate}}" value="{{.MaxValue}}" step="1">
        </div>
    </div>
{{ end }}