{{ define "filterHolder" }}
    <div class="filters-holder">
        <form action="/" method="get" class="filters-container">
            <div class="filter-header">
                <h2 class="filter-title">Filters</h2>
                <div class="filters-exit-btn">
                    <i id="exit" class='bx bx-x'></i>      
                </div>
            </div>

            <div class="filter-item-holder creation-filter">
                <h3 class="filter-title">Creation Date</h3>
                <div class="filter-result">{{.Creation.MinCreationDate}} - {{.Creation.MaxCreationDate}}</div>
                    {{ template "dualRangeInput" .Creation}}
                </div>

            <input type="submit" value="Submit" class="filter-submit">

        </form>
    </div>
{{ end }}