{{ define "filterHolder" }}
    <div class="filters-holder">
        <div class="filters-container">
            <div class="filters-exit-btn">
                <i id="exit" class='bx bx-x'></i>      
            </div>

            <div class="filter-item-holder creation-filter">
                <h3 class="filter-title">Creation Date</h3>
                <div class="filter-result">{{.Creation.MinCreationDate}} - {{.Creation.MaxCreationDate}}</div>
                    {{ template "dualRangeInput" .Creation}}
                </div>

            <input type="submit" value="Submit" class="filter-submit">

        </div>
    </div>
{{ end }}